
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 800px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 60px;
    border-radius: 8px;
}
.btn-style {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #006ef9;
    border: 1px solid #006ef9;
    border-radius: 40px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s;
    
}
.btn-style:hover {
    color: #006ef9;
    background-color: white;
}


.content {
    display: flex;
}
.content__left {
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    text-align: center;
    min-height: 600px;
}
ul li {
    height: 50px;
    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 6px;
    transition: all .5s;
}
ul li a {
    display: block;
    line-height: 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #262626;
    background-color: #ecf0f3;
}
ul li:hover{
    transform: scale(1.1);
}
.active {
    color: white;
    background-color: #006ef9;
}
.content__right {
    width: 80%;
    padding: 20px;
    background-image: linear-gradient(to right,  rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6)), url(./img/bg1.webp);
    background-size: cover;
    background-position: center;
    color: rgb(50, 52, 75);
}
.right__header {
    display: flex;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.right__container img,
.right__header img {
    height: 40px;
    vertical-align: middle;
}
.right__header h2 {
    line-height: 40px;
    margin-left: 10px;
}
form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}
form input,
form select {
    width: 30%;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 8px;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.ketQua {
    background-color: rgba(11, 156, 49, 0.4);
    margin-top: 30px;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    line-height: 40px;
}
#result {
    margin-left: 20px;
}
#form-bai2 {
    justify-content: start;
}
#form-bai2 input {
    width: 40%;
}


/*  */
